@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito Sans Italik';
    src: url('../fonts/NunitoSans-Italic.ttf')
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans Italik', Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;  
    position: sticky;
    top: 0px;
    z-index: 4;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    
}

.logo {
    color: #E3B873;
}

.header-navigation {
    list-style: none;
    display:flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('../images/image1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    height: 83px;
    width: 676px;
    z-index: 1;  
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title1 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.title2 {
    margin-right: 60px;
    font-family: 'Yeseva One' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.title3 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.title4 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-type {
    margin-top: 76px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.RepairPhoto-text-title {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 34px;
    padding-top: 25px;
}

span {
    color: #E3B873;
}

.main-head {
    position: relative;    
    right: 134px;
}

.text {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.text-hero {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.text-project {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;    
}

.text-options {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.text-video {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: rgba(54, 54, 54, 1);
    text-align: center;
}

.PersonalData-text {
    margin-left: 9px;    
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;    
    text-align: center;
}

.RepairPhoto-text {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;    
    color: rgba(149, 149, 149, 1);
}

.hero-button {
    padding: 19px 41px;   
}

.hero-button2 {
    padding: 19px 22px;
    margin-left: 20px;
    background: none;
    border: 1px solid #FFFFFF;
}

.projects {
    background-color: black;
    background-size: cover;
    height: 1074px;    
}

.projects-contant {
    display: grid; 
    grid-template-columns: 656px 679px;
    grid-template-rows: 123px 60px 482px 118px 40px;
    grid-template-areas: 
    "F A"
    "F B"
    "C D"
    "E E"
    "G G";
    /* align-items: center; */
}

.projects-description {
    position: relative;
    grid-area: C;    
    left: 134px;
    width: 472px;
}

.project-title {
    width: 253px;
    height: 66px;
    margin-bottom: 34px;
}

.project-options {
    display: flex;
    margin-top: 28px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.option:nth-child(odd) {
    width: 161px;
    margin-right: 34px;
    margin-top: 34px;
}

.option:nth-child(even) {
    width: 213px;
    margin-top: 34px;
}

.project-city {
    position: relative;
    top: 107px;
    padding: 0px;

    grid-area: A;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-city-discription {
    list-style: none;
    display:flex;
    padding: 0px;
}

.project-photo {
    grid-area: D;
}

.project-temp { 
    grid-area: F;
}

.project-pointer{
    grid-area: B;
    margin-top: 7px;
}

.lines_strokes {
    display: flex;
    margin-top: 41px;
}

.vektor-line {
    margin: -7px;
}

.vektor-circle1 {
    margin-left: 30px;
    margin-right: 18px;
}

.vektor-circle3 {
    margin-left: 18px;
    margin-right: 30px;
}

.Monitoring {
    grid-area: E;
    margin-top: 92px;
    display: flex;
    position: relative;
    justify-content: center;
}

.Camera {
    grid-area: G;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.CameraImage {
    margin: 10px;
}

.CameraLine {
    height: 2px;
    width: 32px;
}

.repair {
    height: 1466px;
}

.common-video {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.video {
    display: flex;
    margin-top: -226px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 817px;
    height: 434px;
}

.video-background {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    content: '';
    width: 817px;
    height: 434px;
    z-index: 1;
}


.ellips {
   position: absolute;
   z-index: 2; 
}

.polygon {
    position: absolute;
    z-index: 3; 
    padding-bottom: 10px;
    padding-left: 5px;
 }

 .video-line {
    margin-top: 62px;
    width: 55px;
    height: 2px;
 }

 .text-in-video {
    margin-top: 34px;
    width: 681px;
    height: 131px;
 }

 .insert-name {
    display: grid;
    margin-top: 93px;
    grid-template-columns: 231px 58px 231px 49px 200px;
    grid-template-rows: 19px 25px 1px;
    grid-template-areas: 
    "AA A0 AB B0 AC"
    "BA A0 BB B0 AC"
    "CA A0 CB B0 AC"
 }

 .name {
    grid-area: AA;
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5); 
 }

 .WhatName {
    grid-area: BA;
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(54, 54, 54, 1);
 }

 .NameLine1 {
    grid-area: CA;
    margin: 0;
 }

 .phone {
    grid-area: AB;
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
 }

 .WhatPhone {
    grid-area: BB;
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(54, 54, 54, 1);
 }

 .NameLine2 {
    grid-area: CB;
    margin: 0;
 }

 .NameButton {
    grid-area: AC;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans Italik', Arial, Helvetica, sans-serif;
}

.A0 {
    grid-area: A0;
    margin: 0;
}

.B0 {
    grid-area: B0;
    margin: 0;
}

.PersonalData {
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.apply {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply1 {
    position: relative;
    z-index: 2; 
}

.apply2 {
    position: absolute;
    z-index: 3; 
}

.Repair {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.RepairImage {
    margin: 10px;
}

.RepairLine {
    height: 2px;
    width: 32px;
}

.RepairPhoto {
    display: flex; 
    margin-top: 16px;   
}

.RepairPhoto-main {
    margin: 15px;
}

.RepairPhoto-block {
    margin-top: -127px;
    margin-left: 31px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    width: 330px;
    height: 286px;
}

.ButtonRepair {
    margin-left: 31px;
    background: #E3B873;
    box-shadow: 0px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.common {
    height: 920px;
}


.common-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59px;
}

.common-left {
    background-image: url('../images/image7.jpg');
    background-position: right;
    display: flex;
    flex-direction: column;
    width: 1006px;
    height: 645px;
    margin-left: -303px;
    margin-top: -50px;
    position: relative;
    z-index: -1;
}

.common-left-container {
    margin-top: 77px;
    margin-left: 556px;
}

.common-text-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-top: 51px;
}

.numbersButton {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    outline: 0;
    border: 8px solid white;
    padding: 13px 15px;
    color: white;
    text-transform: uppercase;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.common-text {
    width: 320px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.common-right {
    display: flex;
    flex-direction: column;
    margin-left: 131px;
    background-color: #000000;
    width: 506px;
    height: 509px;
}

.common-right-text {
    font-size: 18px;
    line-height: 26px;
    width: 297px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-top: 28px;    
    align-self: center;
}

.insert-name-com {
    margin-left: 49px;
 }

 .name-com {
    margin: 0;
    margin-top: 25px;    
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);    
 }

 .WhatName-com {    
    margin: 0;
    font-size: 14px;
    line-height: 23px;   
 }

 .NameLine-com {    
    margin: 0;
 }

 .phone-com {
    margin: 0;
    margin-top: 42px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
 }

 .WhatPhone-com {    
    margin: 0;    
    font-size: 14px;
    line-height: 22px;    
 }

  .email-com {
    margin: 0;
    margin-top: 42px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
 }

 .WhatEmail-com {    
    margin: 0;    
    font-size: 14px;
    line-height: 22px;    
 }

 .NameButton-com {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans Italik', Arial, Helvetica, sans-serif;
    align-self: flex-end;
    margin-right: 49px;
}

.PersonalData-com {
    display: flex;    
    margin-top: 0;
}

.apply-com {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply1-com {
    position: relative;
    z-index: 2; 
}

.apply2-com {
    position: absolute;
    z-index: 3; 
}

.PersonalData-text-com {
    margin-left: 9px; 
    font-size: 14px;
    line-height: 22px;
}

.pig {
    display: flex;
    justify-content: flex-end;
    margin-right: 135px;
    /* margin-left: 25px; */
    margin-top: 20px;
}

.PigPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PigEllipse {
    position: relative;
    z-index: 2;
}

.PigPig {
    position: absolute;
    z-index: 3; 
    margin-bottom: 20px;
}

.PigDollar {
    position: absolute;
    z-index: 3; 
    margin-bottom: 20px;
}

.PigSmile {
    position: absolute;
    z-index: 3;
    margin-left: 20px;
    margin-bottom: 25px;
}

.PigText {
    font-size: 18px;
    line-height: 26px; 
    color: rgba(227, 184, 115, 1);
    width: 344px;
    padding-right: 120px;
    /* margin-right: 135px; */
    margin-left: 25px;
    /* margin-top: 25px; */
}

.fantacy {
    background-image: url('../images/image8.jpg');
    background-position: cover;
    height: 864px;
    position: relative;
}

.FantacyMain {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    /* background-color: #000000; */
    /* background-color: rgba(0, 0, 0, .7) */
}

.fantacy-overlay {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.FantacyTextBlock {
    padding-top: 137px;
    padding-left: 99px;
    width: 510px;
    margin-right: 77px;
}

.titleFantacy {    
    font-size: 27px;
    line-height: 37px;
    color: rgba(227, 184, 115, 1);
    padding-right: 100px;
   
}

.FantasyText {
    margin: 0;
    margin-top: 25px;
    font-size: 20px;
    line-height: 38px;    
}

.FantasyText:first-of-type {
    color: rgba(227, 184, 115, 1);
    margin-top: 47px;
}

.FantacyPhotoBlock {
    display: grid;
    margin-top: -112px;
    grid-template-columns: 354px 43px 354px;
    grid-template-rows: auto;
    grid-template-areas: 
    "F9A F9B F9C"
    "F9A2 F9B F9C"
    "F9A2 F9B F9C2"
    "F9A2 F9B F9C3"
    "F9A3 F9B F9C3"
    "F9A4 F9B F9C3"
    "F9A4 F9B F9C4";
}

.F9A {
    grid-area: F9A;
    height: 71px;
    width: 354px;
}

.FantacyPhoto1 {
    grid-area: F9A2;
    height: 557px;
    width: 354px;
}

.F9A3 {
    grid-area: F9A3;
    height: 39px;
    width: 354px;
}

.FantacyPhoto2 {
    grid-area: F9A4;
    height: 349px;
    width: 354px;
}

.F9B {
    grid-area: F9B;
    height: 1017px;
    width: 43px;
}

.FantacyPhoto3 {
    grid-area: F9C;
    height: 275px;
    width: 354px;
}

.F9C2 {
    grid-area: F9C2;
    height: 39px;
    width: 354px;
}

.FantacyPhoto4 {
    grid-area: F9C3;
    height: 624px;
    width: 354px;
}

.F9C4 {
    grid-area: F9C4;
    /* height: 39px; */
    width: 354px;
}

.clients{
    height: 1107px;
}

.ClientsMain {    
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TitleClients {
    font-size: 20px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    align-self: center;
}

.Hand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.HandUp {
    position: absolute;
    margin-top: -25px;
    margin-left: -5px;    
}

.HandEll1U {
    position: absolute;
    margin-top: -27px;
    margin-left: 10px;
}

.HandEll2U {
    position: absolute;
    margin-top: -25px;
    margin-left: 14px;
}

.HandEll3U {
    position: absolute;
    margin-top: -23px;
    margin-left: 18px;
}

.HandUpRight {
    position: absolute;
    margin-top: -22px;
    margin-left: 20px;
}

.HandMain {
    position: absolute;
}

.HandDo {
    position: absolute;
    margin-top: 21px;
    margin-left: 10px;    
}

.HandEll1D {
    position: absolute;
    margin-top: 27px;
    margin-left: -5px;
}

.HandEll2D {
    position: absolute;
    margin-top: 26px;
    margin-left: -10px;
}

.HandEll3D {
    position: absolute;
    margin-top: 24px;
    margin-left: -15px;
}

.HandEll4D {
    position: absolute;
    margin-top: 21px;
    margin-left: -20px;
}

.HandDoLeft {
    position: absolute;
    margin-top: 16px;
    margin-left: -25px;
}

.HandLineLeft {
    position: absolute;
    margin-left: 80px;
}

.HandLineRight {
    position: absolute;    
    margin-left: -80px;
}

.TextClients {
    font-size: 18px;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
    align-self: center;
    width: 476px;
    text-align: center;
}

.BlockClients {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 27px;
}

.clients1 {
    display: flex;
    width: 376px;
    flex-direction: column;
    justify-content: center;
}

.Client1Title {
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
    align-self: center;
}

.Client1Text {
    font-size: 13px;
    line-height: 24px;
    color: rgba(149, 149, 149, 1);
    text-align: left;
    padding-left: 20px;
    padding-right: 31px;
}

.metrs {
    background-color: #E3B873;
}