@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito Sans Italik';
    src: url('../fonts/NunitoSans-Italic.ttf')
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans Italik', Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;  
    position: sticky;
    top: 0px;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    
}

.logo {
    color: #E3B873;
}

.header-navigation {
    list-style: none;
    display:flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('../images/image1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    height: 83px;
    width: 676px;
    z-index: 1;  
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title1 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.title2 {
    margin-right: 60px;
    font-family: 'Yeseva One' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.title3 {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

span {
    color: #E3B873;
}

.main-head {
    position: relative;    
    right: 134px;
}

.text-hero {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.text-project {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;    
}

.text-options {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-button {
    padding: 19px 41px;   
}

.hero-button2 {
    padding: 19px 22px;
    margin-left: 20px;
    background: none;
    border: 1px solid #FFFFFF;
}

.projects {
    background-color: black;
    position: relative;
    height: 1074px;
    display: grid; 
    grid-template-columns: 656px 679px;
    grid-template-rows: 123px 46px 482px;
    grid-template-areas: 
    "F A"
    "F B"
    "C D";
}

.projects-description {
    position: relative;
    grid-area: C;    
    left: 134px;
    width: 472px;
}

.project-title {
    width: 253px;
    height: 66px;
    margin-bottom: 34px;
}

.project-options {
    display: flex;
    margin-top: 42px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.option:nth-child(odd) {
    width: 161px;
    margin-right: 34px;
    margin-top: 34px;
}

.option:nth-child(even) {
    width: 213px;
    margin-top: 34px;
}

.project-city {
    position: relative;
    top: 107px;
    padding: 0px;

    grid-area: A;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-city-discription {
    list-style: none;
    display:flex;
    padding: 0px;
}

.project-photo {
    grid-area: D;
}

.project-temp { 
    grid-area: F;
}

.project-pointer{
    grid-area: B;
}

